*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1400;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
}

.nav-link {
  font-size: 1.4rem;
  color: #d6d6d6;
  padding: 0 1rem;
  transition: opacity 0.5s;
}

.nav-link:hover {
  color: #fff;
}

.nav-link-apple {
  width: 1.6rem;
  height: 4.4rem;
  background-image: url("images/icons/apple.svg");
  background-size: 16px 44px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-link-apple:hover {
  background-image: url("images/icons/apple-hover.svg");
}

.nav-link-search {
  width: 1.6rem;
  height: 4.4rem;
  background-image: url("images/icons/search.svg");
  background-size: 16px 44px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-link-search:hover {
  background-image: url("images/icons/search-hover.svg");
}

.nav-link-bag {
  width: 1.6rem;
  height: 4.4rem;
  background-image: url("images/icons/bag.svg");
  background-size: 16px 44px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-link-bag:hover {
  background-image: url("images/icons/bag-hover.svg");
}

.main {
  position: relative;
  padding-top: 4.4rem;
}

.ribbon-cny {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  height: 4.4rem;
  background-color: #f5f5f7;
}

.cny-link {
  color: #3070d1;
}

.cny-link:hover {
  text-decoration: underline;
}

.cny-link::after {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: "";
  display: inline-block;
  height: 0.35em;
  left: 0.25em;
  position: relative;
  top: 0.48em;
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.3em;
}

.holiday-anim-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.4rem;
  padding-top: 4rem;
}

.cow {
  height: 8.4rem;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  margin-top: 20px;
  font-size: 53px;
  font-weight: 600;
  text-align: center;
}

.headline.wishes {
  padding-top: 4rem;
  margin-top: 0px;
}

.headline-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfbfd;
  padding-top: 4rem;
  margin-top: 20px;
  font-size: 53px;
  font-weight: 600;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  font-size: 20px;
  color: #3070d1;
  margin-left: 15px;
  margin-right: 15px;
}

.links:hover {
  text-decoration: underline;
}

.links::after {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: "";
  display: inline-block;
  height: 0.3em;
  left: 0.4em;
  position: relative;
  top: 0.09em;
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.3em;
}

.links-general {
  display: flex;
  justify-content: center;
}

#subhead {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  font-size: 26px;
  font-weight: 400;
}

#subhead-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  font-size: 26px;
  font-weight: 400;
  color: #fbfbfd;
}

.unit-image-wrapper {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}

img.sets {
  width: 250vw;
  margin-top: -23%;
}

#holiday-2020 {
  /* background-image: url("https://www.apple.com/sg/home/images/heroes/cny-2021/set-a/holiday20_largetall_2x.jpg"); */
  background-color: #fbfbfd;
}

#iphone-12 {
  /* background-image: url("https://www.apple.com/sg/home/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_largetall_2x.jpg"); */
  background-color: #fbfbfd;
}

#iphone-12-pro {
  /* background-image: url("https://www.apple.com/v/home/s/images/heroes/iphone-12-pro/iphone_12_pro__f7ri3g4x75m6_largetall_2x.jpg"); */
  background-color: black;
}
